/******************************************************************
Author: DD9
Stylesheet: Footer
******************************************************************/

#footer {
  background: $gray-200;
  clear: both;
  padding: $paragraph-margin-bottom 0;

  //Hide site credit
  .site-credit{
    opacity: 0;
    cursor: default;
  }
}

#sub-floor {
  font-size: 70%;
  padding: 10px 0;
}

.footer-contact {
  @extend .list-unstyled;
}

/* Footer Menu
================================================== */
#footer-nav {
  @extend .list-unstyled;
  position: relative;
  margin-bottom: ($line-height-base / 1.5);
 
  > li {
    display: inline;
  }
}