/******************************************************************
Author: DD9
Stylesheet: Custom Styles and Classes
******************************************************************/

body {
  color: purple;
}


