/******************************************************************
Author: DD9
Stylesheet: WP author box
******************************************************************/

/* Author Box
================================================== */
.author-img {
  float: left;
}

.author-desc {
 
}