/******************************************************************
Author: DD9
Stylesheet: Home Page
******************************************************************/

.homebanner {
	background-color: $primary;
  text-align: center;
  color: #fff;
}